.navbar-brand
	padding:5px 20px;
	.logo
		width:44px;


.btn.btn-primary
	background-color:#84898C;
	border-color:darken(@background-color,20%);
	&:active,
	&:focus
		background-color:darken(@background-color,40%);
		border-color:darken(@background-color,60%);
