.client-logo
	width:50%;

.project-type
	&:before
		content:"Project: ";
		color:#84898C;
	&:after
		content:"";
		display:block;

blockquote
	border-left:0;
	&:before
		content:'"';
	&:after
		content:'"';
