.container
	hr
	h2.text-center.text-muted What our customers are saying
	.col-md-4.text-center
		img.client-logo(src="/themes/foxes/images/clients/bath-and-north-east-somerset-council-logo.png")
		h4.text-muted.small Banes Council's Internal Intranet.
		blockquote
			|amazing amazing amazing amazing amazing amazing amazing amazing
	.col-md-4.text-center.small
		h4.text-muted Customer logo
		blockquote
			| We think our mother likes this and Im a banana im a banana
	.col-md-4.text-center.small
		h4.text-muted Customer logo
		blockquote
			| We couldnt have done it without your help thanks Acronamy

	//!= render("navbar")
	//!= render("sidebar_primary")
	//!= render("sidebar_secondary")

include usp.jade
