.jumbotron.hero.jumbotron-trans
	.container.text-center
		.col-md-8.center-block.pull-reset
			small.uppercase.text-muted Intriducing
			h1.brand-text Acronamy
				small.uppercase.text-tiny ltd.
			img.main-graphic(type='image/svg+xml', width="400px" srcset='/themes/foxes/images/ui/chromebook-pixel.svg')
			.btn-group.clearfix.center-block.pull-reset.products-switcher(role='group', aria-label='...')
				button.btn-primary.btn.btn-lg(type='button') Websites
				button.btn.btn-default.btn-lg(type='button') Graphics
				button.btn.btn-default.btn-lg(type='button') Prototypes
			small.center-block.pull-reset The reliable, inavative Web Design Company
