.container.usp
	hr
	.col-md-6.usp-item
		.col-md-4
			.well
				img(src="/themes/foxes/images/ui/rocket.svg" width="110px" alt="rocket ship fast performance")
		.col-md-8
			h3 Soooo Fast!
			p Performance is our main goal, every second your customer waits is a second wasted, We expect our websites to be as fast as posible, it can get very irratiting very quickly if your forced to wait for your shop or portfolio to load.

	.col-md-6.usp-item
			.col-md-4
				.well
			.col-md-8
				h3 Mouse racing
				p Search engines must notice your website or it doesnt exist, its just that simple. But in a busy world full of trafic we need to get you infront of the rest, with our knowledge of search engines you will hear the sound of 'click, click, click' every single day of the year, but thats not all, we will share our top tips on how to stay in poll position.

	.col-md-6.usp-item
			.col-md-4
				.well
			.col-md-8
				h3 Dressed to impress
				p When its needed your website should look apealing, animated and slick, yet still accessable to all, we take readability very seriosly because everyone's different. everyone is a potential oportunity, so we make sure that the oportunity is open to all, just by design.

	.col-md-6.usp-item
		.col-md-4
			.well
		.col-md-8
			h3 Devices
			p 80% of the web is now viewed on mobile devices, its clear that the web has changed, and so has our job as web developers, Unlike some web design companys, we wont charge extra for a mobile website, it is a standard feature that is actually more central to your website's success than ever before.

	.col-md-6
		h2 The way we create
		p Acronamy believe in fairness, transarency and simple and effective comunication. We dont want to pull the wool over your eyes, and we will always break down the technical jargon into good old fashioned English, Lets be straight, websites are complex beasts, they need carefull planning and timely delivery so that your business can reap the benafits, our creed will help you see web development like we see it and what you can expect when working closely with us.
