.navbar-sm
	.navbar-primary

		nav.col-md-6.navbar.navbar-default.navbar-static-top.navbar-whiteout.navbar-borderless
			.container-fluid
				ol.breadcrumb
					li
						a(href='#') Home
					li
						a(href='#') Library
					li.active Data



		nav.col-md-6.navbar.navbar-default.navbar-static-top.navbar-whiteout.navbar-borderless
			.container-fluid
				.navbar-right
					.dropdown
						button.btn.btn-default.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
							span.glyphicon.glyphicon-cog
							span= " Options"

						ul.dropdown-menu(aria-labelledby='dropdownMenu1')
							li
								a(href='#') Action
							li
								a(href='#') Another action
							li
								a(href='#') Something else here
							li
								a(href='#') Separated link
