nav.navbar.navbar-default.navbar-flush.navbar-borderless
	.fluid-container
		.collapse.navbar-collapse
			.col-md-2.navbar.navbar-flush
				.navbar-header
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Brand

			.col-md-8.navbar.navbar-flush
				form.navbar-form.navbar-left(role='search')
					.form-group
						input.form-control(type='text', placeholder='Search')
					button.btn.btn-default(type='submit') Submit

			.col-md-2.navbar.navbar-flush
				ul.nav.navbar-nav.navbar-right
					li
						a(href='#') Link
